.App {
  background-color: rgb(74, 89, 134);
  background-size: 100vw 100vh;
  background-image: url(./lib/Logo.jpeg);
  background-repeat: repeat-y;
  padding: 0;
  color: white;
  font-size: 20px;
  min-height: 100vh;
  text-align: start;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 40%;
  color: white;
  font-weight: 600;
}

.top {
  background-color: rgb(74, 89, 134);
  color: white;
  font-weight: 700;
  font-size: large;
}

.title {
  display: flex;
  justify-content: space-between;
}

.titleBtn {
  cursor: pointer;
}