.App {
  background-color: rgb(223, 215, 215);
  padding: 10px;
  color: white;
  font-size: 20pt;
  height: 100vh;
  text-align: start;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 40%;
  color: white;
  font-weight: 600;
}

.top {
    background-color: #222;
}